.window-content .journal-entry-content header.helyx-afof-journal-title
{
    background: url(/helyx/a-fistful-of-flowers/banner.webp);

    border: 2px solid white;
    box-shadow:10px 5px 5px #b16b3e;
    padding: 8px;
    margin-bottom: 25px;
    position: relative;     
    color: white;    

    font-family: "Roboto Condensed", Roboto, sans-serif;
    font-variant: small-caps;
    font-weight: 600;
    font-size: 32px;
    
}

.window-content .journal-entry-content header.helyx-cotkk-journal-title
{
    padding: 8px;
    margin-bottom: 25px;
    position: relative;     

    display: flex;
    align-items: center;
    flex-direction: column;

    color: var(--primary);    
    font-family: "Vollkorn";
    font-variant: small-caps;
    font-weight: 600;
    font-size: 25px;
    
}

.window-content .journal-entry-content header.helyx-cotkk-journal-title h1
{
    margin: 0;
}

.window-content .journal-entry-content header.helyx-cotkk-journal-title img.helyx-cotkk-journal-title-top
{
    border: none; 
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);   
}

.window-content .journal-entry-content header.helyx-cotkk-journal-title img.helyx-cotkk-journal-title-bottom
{
    border: none;     
}

.window-content .journal-entry-content header.helyx-tokn-journal-title
{
    background: url(/helyx/threshold-of-knowledge/assets/banner.webp);

    border: 2px solid white;
    box-shadow:10px 5px 5px #b16b3e;
    padding: 8px;
    margin-bottom: 25px;
    position: relative;     
    color: white;    

    font-family: Taroca;
    font-size: 31px;
    font-weight: 400;   
}

.window-content .journal-entry-content header.helyx-tokn-journal-title h1
{
 
    color: white;    
    font-family: Taroca;
    font-size: 31px;
    font-weight: 400;   
}
