.window-content .journal-entry-content header.helyx-pfs3e13-journal-title
{
    background: url(/helyx/pfs3e13-guardian-s-covenant/assets/banner.webp);

    border: 2px solid white;
    box-shadow:10px 5px 5px #b16b3e;
    padding: 8px;
    margin-bottom: 25px;
    position: relative;     
    color: white;    

    font-family: "Roboto Condensed", Roboto, sans-serif;
    font-variant: small-caps;
    font-weight: 600;
    font-size: 24px;
    
}

.window-content .journal-entry-content header.helyx-pfs3e14-journal-title
{
    background: url(/helyx/pfs3e14-the-tombs-between-worlds/assets/banner.webp);

    border: 2px solid white;
    box-shadow:10px 5px 5px #b16b3e;
    padding: 8px;
    margin-bottom: 25px;
    position: relative;     
    color: white;    

    font-family: "Roboto Condensed", Roboto, sans-serif;
    font-variant: small-caps;
    font-weight: 600;
    font-size: 24px;
    
}


.window-content .journal-entry-content header.helyx-pfs3e15-journal-title
{
    background: url(/helyx/pfs3e15-cavern-of-the-sundered-song/assets/banner.webp);

    border: 2px solid white;
    box-shadow:10px 5px 5px #b16b3e;
    padding: 8px;
    margin-bottom: 25px;
    position: relative;     
    color: white;    

    font-family: "Roboto Condensed", Roboto, sans-serif;
    font-variant: small-caps;
    font-weight: 600;
    font-size: 24px;    
}
