.window-content .journal-entry-content header.helyx-pfs4e01-journal-title
{
    background: url(/helyx/pfs4e01-year-of-the-boundless-wonder/assets/banner.webp);

    border: 2px solid white;
    box-shadow:10px 5px 5px #b16b3e;
    padding: 8px;
    margin-bottom: 25px;
    position: relative;     
    color: white;    

    font-family: "Roboto Condensed", Roboto, sans-serif;
    font-variant: small-caps;
    font-weight: 600;
    font-size: 24px;    
}

.window-content .journal-entry-content header.helyx-pfs4e02-journal-title
{
    background: url(/helyx/pfs4e02-return-to-the-grave/assets/banner.webp);

    border: 2px solid white;
    box-shadow:10px 5px 5px #b16b3e;
    padding: 8px;
    margin-bottom: 25px;
    position: relative;     
    color: white;    

    font-family: "Roboto Condensed", Roboto, sans-serif;
    font-variant: small-caps;
    font-weight: 600;
    font-size: 24px;    
}

.window-content .journal-entry-content header.helyx-pfs4e03-journal-title
{
    background: url(/helyx/pfs4e03-linnorm-s-legacy/assets/banner.webp);

    border: 2px solid white;
    box-shadow:10px 5px 5px #b16b3e;
    padding: 8px;
    margin-bottom: 25px;
    position: relative;     
    color: white;    

    font-family: "Roboto Condensed", Roboto, sans-serif;
    font-variant: small-caps;
    font-weight: 600;
    font-size: 24px;    
}

.window-content .journal-entry-content header.helyx-pfs4e04-journal-title
{
    background: url(/helyx/pfs4e04-to-seek-the-hearth-of-calamity/assets/banner.webp);

    border: 2px solid white;
    box-shadow:10px 5px 5px #b16b3e;
    padding: 8px;
    margin-bottom: 25px;
    position: relative;     
    color: white;    

    font-family: Taroca;
    font-size: 31px;
    font-weight: 400;   
}

.window-content .journal-entry-content header.helyx-pfs4e04-journal-title h1
{
 
    color: white;    
    font-family: Taroca;
    font-size: 31px;
    font-weight: 400;   
}

.window-content .journal-entry-content header.helyx-pfs4e05-journal-title
{
    background: url(/helyx/pfs4e05-the-arclord-who-never-was/assets/banner.webp);

    border: 2px solid white;
    box-shadow:10px 5px 5px #b16b3e;
    padding: 8px;
    margin-bottom: 25px;
    position: relative;     
    color: white;    

    font-family: "Roboto Condensed", Roboto, sans-serif;
    font-variant: small-caps;
    font-weight: 600;
    font-size: 24px;    
}

.window-content .journal-entry-content header.helyx-pfs4e06-journal-title
{
    background: url(/helyx/pfs4e06-signal-from-the-electric-laboratory/assets/banner.webp);

    border: 2px solid white;
    box-shadow:10px 5px 5px #b16b3e;
    padding: 8px;
    margin-bottom: 25px;
    position: relative;     
    color: white;    

    font-family: Taroca;
    font-size: 31px;
    font-weight: 400;   
}

.window-content .journal-entry-content header.helyx-pfs4e06-journal-title h1
{
 
    color: white;    
    font-family: Taroca;
    font-size: 31px;
    font-weight: 400;   
}