.helyx-summary-content h1.helyx-summary-title
{
    text-align: center;
    margin: 0px;
    line-height: 48px;
    font-size: 40px;
    border-bottom: 0px;
}

.helyx-summary-content .helyx-summary-summary .helyx-p
{
    text-indent: 20px;
}

.helyx-summary-content .helyx-summary-overview
{
    flex: 2;
}

.helyx-summary-content .helyx-summary-options
{
    flex: 1;
}
