 <div>
    <p><b>How are you related to Paizo ?</b></p>
    <p>I'm not.</p>
 </div>

 <hr/>

 <div>
    <p><b>
        I found an issue. How do I report it?
    </p></b>

    <p>You can :
        <ul>
            <li>Report the issue by creating an entry on the project's web page: <a href="https://github.com/deidril/pf2-pdf-en-import/issues">https://github.com/deidril/pf2-pdf-en-import/issues</a> .</li>
            <li>Send a message to Deidril#2009 on Discord.</li>
            <li>Post a message on the module's Discord: <a href="https://discord.gg/XryTbnxWVq">https://discord.gg/XryTbnxWVq</a></li>
            <li>Use a Feather Token</li>
        </ul>
    </p>
</div>

<hr/>

 <div>
    <p><b>
        Can you or will you make an import for <i>KingMaker</i>, <i>Blood Lords</i>, or any content covered by a premium module?
    </b></p>

    <p>
            No, I won't. The premium modules are excellent products. 
            As a single programmer working on my module during my free time, 
            I don't want to compete with a team of experienced professionals.
    </p>
</div>

<hr/>

 <div>
    <p><b>
        Can you or will you make an import for <i>Agents of Edgewatch</i>,<i>Age of Ashes</i>, 
        <i>Pathfinder Society Season 1</i> etc... ?
    </b></p>

    <p>
        These imports are covered by PDF2Foundry.
    </p>
</div>

<hr/>

 <div>
    <p><b>
        Can you or will you make an import for <i>Pathfinder 1 stuff</i>,<i>Dark Archive adventures</i>, <i>Anything outside PFS and stand alone adventures.</i>
        <i>Pathfinder Society Season 1</i> etc... ?
    </b></p>

    <p>
            I would like to import Pathfinder 1 Adventure Paths or adventures from core books like Dark Archives, 
            but I don't have access to these PDFs. I cannot afford to purchase all of the Pathfinder 1 PDFs.
    </p>
</div>

<hr/>

<div>
    <p><b>Why not set up a Patreon or similar platform if you're missing the PDFs?</b></p>
    <p>
       If you would like to support free software like this module or help me purchase new PDFs, you can do so via my Patreon page at: <a href="https://www.patreon.com/deidril">https://www.patreon.com/deidril</a> . 
    </p>
</div>

<hr/>

<div>
    <p><b>If you're missing the PDFs, why not use versions found on the web?</b></p>
    <p>
        Firstly, they are pirated PDFs, and I will not use them. 
    </p>
    <p>    
         Secondly, my module imports content using its position (I refer to this as its "index") in the PDF file.
        As a result, any official PDFs would not work because the text and images would be at different positions. 
    </p>

    <p>
        For example, if you edit an official PDF to change a single letter and then save it, 
        there is a chance that you will use a different PDF software version than the one used for the original version. 
        Your indexes will be different, and the import will fail. 
        This means that if Paizo updates a supported PDF, there is a chance that the import 
        will fail with the updated version.
    
        So, <b>keep your original PDFs if you want to be able to import them, until you are notified that the 
            module supports the new PDFs.</b>
    </p>
</div>

<hr/>

<div>
    <p><b>Why not use <b><i>pdf2foundry</i></b> datas to import older content?</b></p>
    <p>
        <i><b>pdf2foundry</b></i>operates differently. 
        Its logic is largely unaffected by slight changes in the PDF or changes in the PDF JavaScript library used. 
        From that perspective, it is a better software.
    </p>
    <p>However, I created my module to have the output it currently has and wanted to do it myself to learn JavaScript. 
        I am a C++ programmer and wanted to improve my knowledge of JavaScript through this project. 
        Moving towards pdf2foundry logic while retaining the output used for the journals would be 
        a wise choice for the module, but it would take a lot of time. 
        I have started on this, but it is still a long way off.
    </p>
    <p>
        Also, remember that my module's first version was from July 2022. 
        It will take time to have the same content and features as pdf2foundry.
    </p>
</div>

<hr/>

<div>
    <p><b>
        Is there any way to speed up the import process? How can I help and can I make an import myself?
    </b></p>

    <p>
        The most time-consuming task is creating the maps with their walls. 
        High-quality map modules for current and future imports would be the most helpful contribution.  
    </p>

    <p>
        Making an import is a multi-step process that requires knowledge of the JavaScript programming language 
        and an understanding of the internal structure of a PDF. 
        It is also a software that must be learned on its own. 
        Creating graphical user interfaces for all the steps, writing documentation, creating tutorial videos,
         and answering questions would be a full-time job. Although everyone can help by creating high-quality map modules, 
         only a few people do so because they lack time or knowledge. 
         I believe that setting up available software to configure the import of a given PDF would not result 
         in more imports to the community because the time and technical knowledge required is greater than 
         what is needed to create map modules.
    </p>
</div>

<div>
    <p><b>
        Why is your module's javascript code encrypted  or so ?
    </b></p>

    <p>It's called <i><b>obfuscation</i></b>. It is a request from <i><b>Foundry</i></b> so it's not easy to 
        remove the check of the PDF watermarks.
    </p>
</div>
