 <div>
    <p><b>How are you related to Paizo ?</b></p>
    <p>I'm not.</p>
 </div>

 <hr/>

 <div>
    <p><b>
        I found an issue. How to report it ?
    </p></b>

    <p>You can :
        <ul>
            <li>write an issue entry on the project web page : <a href="https://github.com/deidril/pf2-pdf-en-import/issues">https://github.com/deidril/pf2-pdf-en-import/issues</a> .</li>
            <li>send me a message on discord : Deidril#2009</li>
            <li>post a message on the module's discord : <a href="https://discord.gg/XryTbnxWVq">https://discord.gg/XryTbnxWVq</a></li>
            <li>use a Feather Token</li>
        </ul>
    </p>
</div>

<hr/>

 <div>
    <p><b>
        Can you / will you make import for <i>KingMaker</i>, <i>Blood Lords</i>, 
        <i>any content covered by a premium module</i> ?
    </b></p>

    <p>
        No. The premium modules are a very good job. As long as they are, as a lonely programmer 
        working on his module on his spare time, I'm not trying to do better than a full experienced team.
    </p>
</div>

<hr/>

 <div>
    <p><b>
        Can you / will you make import for <i>Agents of Edgewatch</i>,<i>Age of Ashes</i>, 
        <i>Pathfinder Society Season 1</i> etc... ?
    </b></p>

    <p>
        These imports are covered by PDF2Foundry.
    </p>
</div>

<hr/>

 <div>
    <p><b>
        Can you / will you make import for <i>Pathfinder 1 stuff</i>,<i>Dark Archive adventures</i>, <i>Anything outside PFS and stand alone adventures.</i>
        <i>Pathfinder Society Season 1</i> etc... ?
    </b></p>

    <p>
        I would like to do imports of PF1 AP or adventures from core books like Dark Archives, but i don't own these PDF. I can't buy back all PF1 PDFs.
    </p>
</div>

<hr/>

<div>
    <p><b>If you're missing the PDFs, why not setting up a patreon or so ?</b></p>
    <p>
       If you want to support free softwares like this module or help buying some new pdfs, the link is <a href="https://www.patreon.com/deidril">https://www.patreon.com/deidril</a> . 
</div>

<hr/>

<div>
    <p><b>IF you're missing the PDFs, why not using versions found on the web ?</b></p>
    <p>
        First, they are pirated PDFs and i won't use them. 
    </p>
    <p>    
        Second, my module imports contents using their position (I call that <i>their indexes</i>) in the pdf file.
        Therefore, any official pdfs would not work, because texts and images would be at another index. 
    </p>

    <p>
        Let's say you edit an official PDF to modify one letter and save it again. 
        There is chances you use a different PDF software version
        than the one used for the original version. Your indexes will be different and the import will fail.
        It means also if Paizo updates a supported PDF, there is chance the import fails with the updated version.
        So, <b>KEEP YOUR ORIGINAL PDF IF YOU WANT TO BE ABLE TO IMPORT THEM, UNTIL YOU ARE NOTIFIED THE MODULE
            SUPPORT THE NEW PDF. 
        </b>
    </p>
</div>

<hr/>

<div>
    <p><b>
        Why not using pdf2foundry datas to import the old stuff ?
    </b></p>
    <p>
        <i><b>pdf2foundry</i></b> works another way. Its logic is mostly immune to slight changes in the pdf as well to 
        changes of the pdf javascript lib used. 
        So from a certain point of view, it is a better software.
    </p>
    <p>
        However i did my module to have the output it has right now, and wanted to do it by myself to learn 
        javascript. I'm a C++ programmer and wanted to improve my knowledge of javascript through this project.
        Moving toward pdf2foundry logic while keeping the output used for the journals ?
        It would be a smart move for the module but it would need a lot of time. I started things to do this but it's still
        a long way.
    </p>

    <p>Also remember the first version of my module is from July 2022. It will takes time to have the same content and features
        than pdf2foundry.
    </p>
</div>

<hr/>

<div>
    <p><b>
        Anyway to speed up the import ? How can I help you ? Can I make also import ?
    </b></p>

    <p>
        The biggest time sink is making the maps with their walls. 
        Foundry modules with high quality maps covering current imports or future imports would be 
        the biggest help possible.  
    </p>

    <p>
        Making an import is a several step process that need knowledge of the javascript programming language, 
        as well as the internal structure of a pdf, and is a software to learn by itself.
        Making graphical user interfaces for all the steps, writing the documentation or making tutorial videos, 
        and answering questions would be a full time job. There is things everybody can do to help like 
        making modules with high quality maps, and except a few people, it's not done because people miss 
        time or knowledge. I think setting up an available software to configure import of a given pdf would not provide
        more imports to the community because the time and the technical knowledge needed is bigger than the one needed to make
        map modules.   
    </p>
</div>

<div>
    <p><b>
        Why is your module's javascript code crypted or so ?
    </b></p>

    <p>It's called <i><b>obfuscation</i></b>. It is a request from <i><b>Foundry</i></b> so it's not trivial to 
        remove the check of the PDF watermarks.
    </p>
</div>
