<form class="flexcol">    
<section id="helyx-midjourney-content">

    <div>
        <p>This PDF has been identified as <b><i>{{adventure.title}}</b></i></p>
        <p>Some graphical content has been generated using MidJourney to complete missing tokens,portraits, item images, 
            and sometimes background images for Theater of the Mind scenes</p>
        <p>You can decide if you want these resources to be used or if you want only assets from the PDFs</p>
    </div>    
    <div class="form-group">
        <label for="helyx-accept-midjourney-content">Use content generated through MidJourney</label>
        <div class="form-fields">
            <input type="checkbox" id="helyx-accept-midjourney-content" />
        </div>
    </div>    
</section>
</form>