                {{> "modules/pf2-pdf-en-import/templates/exported/pdfList.hbs"}}

<hr/>

<section class="helyx-import-form">
        <div class="form-group">
         <label for="helyx-known-bugs" style="font-weight: bold;">Known Issue</label>
        <div class="form-fields"></div>
        <p class="notes" id="helyx-pdf-filename">
            Once the PDF has been identified and starts to extract the PDF's images, 
            Foundry will freeze from a few seconds to a minute. 
            Don't worry, it's the image extracting process...
            This problem is been investigated.
                </p>
    </div>

    <hr/>
    <div class="form-group" style="display: flex; gap: 10%;">
        <button id="helyx-import-pdf" class="helyx-inline" onclick="game.helyx.select_pdf();">PDF file</button>
        <label id="helyx-imported-pdf" class="helyx-inline helyx-no-overflow" name="data"></label>
    </div>
            </section>
<hr>
