<div class="helyx-configuration">
<div class="flexrow">
    <aside class="sidebar flexcol" style="height: 500px">
        <nav class="tabs" aria-label="Navigation">
            <a class="item category-tab active helyx-import-nav" id="helyx-nav-import" onclick="game.helyx.import_nav_tab('import');">
                Import
            </a>
            <a class="item category-tab helyx-import-nav" id="helyx-nav-pdf-list" onclick="game.helyx.import_nav_tab('pdf-list');">
                Supported PDFs
            </a>
            <a class="item category-tab helyx-import-nav" id="helyx-nav-faq" onclick="game.helyx.import_nav_tab('faq');">
                F.A.Q
            </a>
            <a class="item category-tab helyx-import-nav" id="helyx-nav-discord" onclick="game.helyx.import_nav_tab('discord');">
                Discord
            </a>
            <a class="item category-tab helyx-import-nav" id="helyx-nav-patreon" onclick="game.helyx.import_nav_tab('patreon');">
                Patreon
            </a>
        </nav>
    </aside>
    <form class="categories flexcol helyx-import-tab-space">
        <div class="scrollable">
            <section class="tab category helyx-import-tab active" id="helyx-tab-import" style="">
                <h2 class="category-title">Import</h2>

                    <div class="form-group">        
                        <button id="helyx-import-pdf" class="helyx-inline" onclick="game.helyx.select_pdf('#helyx-imported-pdf-filename');">Source PDF</button>
                        
                    </div>
                    <div class="form-group">
                        <p>
                            <b>Filename : </b>
                            <label id="helyx-imported-pdf-filename" class="helyx-inline helyx-import-filename" name="data">NOT SET</label>
                        </p>
                    </div>

                    <div class="'form-group">
                        <h3>Warning !</h3>
                        <p>Even though the module is thoroughly tested before each release, bugs and errors may still occur. 
                        To avoid the loss of your world, it is recommended to backup your existing world before importing any PDFs into it. 
                        </p> 

                        <div style="border: 3px solid #cd3c3c; padding: 10px; margin-top: 10px; border-radius: 5px;">
                        <h3>Donations campaign</h3>
                        <p>To support the ongoing development and maintenance of this module, to help it staying free for the community,
                            please consider contributing with a donation. 
                            Your support helps us cover the costs of acquiring new PDFs, especially those I won't buy otherwise,
                            and improving the module. Even a small one-time donation can make a difference! 
                            Check the 'Patreon' tab on the left for more infos. </p>
                        <hr/>
                        </div> 
        
                        <h3>Patreons</h3>
                        <p>Most of the PFSs imports were done thanks to the patreons :</p>
                        <p><b>Kingmakers : </b>KSI</p>
                        <p><b>Ruby Phoenix : </b>RogueGM</p>
                        <h3>Donors</h3>
                        <p><b>The french discord community</b> :
                         Thanks to the <b>#pathfinder-fr</b> community who reversed a part of their donation to buy new pdfs.
                         </p>
      
                    </div>

            </section>
            <section class="tab category helyx-import-tab" id="helyx-tab-faq" style="display: none">
                {{> "modules/pf2-pdf-en-import/templates/exported/faq.hbs"}}
            </section>
            <section class="tab category helyx-import-tab" id="helyx-tab-pdf-list" style="display: none">
                <h2 class="category-title">Supported PDFs</h2>
                {{> "modules/pf2-pdf-en-import/templates/exported/pdfList.hbs"}}
            </section>
            <section class="tab category helyx-import-tab" id="helyx-tab-discord" style="display: none">
                <h2 class="category-title">Discord</h2>
                <p>There is a discord channel at <a href="https://discord.gg/XryTbnxWVq">https://discord.gg/XryTbnxWVq</a> for this import module.
                    You can use it to drop issues, get the latest news, submit ideas, or just say 'hi'.
                </p>
            </section>
            <section class="tab category helyx-import-tab" id="helyx-tab-patreon" style="display: none">
                <p>A Patreon is a way to support free software like this module. </p>
                <p>You can provide a small amount of money to help purchase new PDFs for new imports 
                    or simply because you support free software like this at the following Patreon web page: 
                    <br/> <a href="https://www.patreon.com/deidril">https://www.patreon.com/deidril</a> 
                </p>

                <p>There is no special content for Patreon supporters. However, I may set up votes to decide on extra imported content. </p>

                <p>My plan is to continue importing PF2e stand-alone adventures and PFS adventures and to release new versions of this module for free.</p>

                <div style="border: 3px solid #cd3c3c; padding: 10px; margin-top: 10px; border-radius: 5px;">
                    <p>Even a simple one-time donation is welcome!</p>
                </div>

                <p>Thank you for your support!</p>
            </section>
        </div>
    </form>
</div></div>