<section class="helyx-content">
    <p>File <b>{{pdfFilename}}</b> doesn't have the expected watermarks. Please, buy your PDFs if you want to use this module.
    </p>
</section>
{{> "modules/pf2-pdf-en-import/templates/exported/pdfList.hbs"}}
