<section class="helyx-content">
<p>This module accepts only PDF files from PAIZO, and with their watermarks.
Anonymized PDFs will not be imported</p>
<hr>
<p><b>Adventures</b></p>
<ul>
    <li>Shadows at Sundown</li>    
    <li>Crown of the Kobold King</li>
</ul>
<p><b>Core books</b></p>
<ul>
    <li>Dark Archive (adventures only)</li>
</ul>
<p><b>Free Adventures</b></p>
<ul>
    <li>A Fistful of Flowers</li>
    <li>Threshold of Knowledge</li>
    <li>Little Trouble in big Absalom</li>
</ul>
<p><b>Bounties</b></p>
<ul>
    <li>#19 : Grim Tidings</li>
    <li>#20 : Burden in Bloodcove</li>
    <li>#21 : Against the Unliving</li>
</ul>
<p><b>Pathfinder Society Quests</b></p>
<ul>
    <li>#14 : The Swordlord’s Challenge</li>
</ul>
<p><b>Pathfinder Society Season 3</b></p>
<ul>
    <li>PFS3E12 Fury's Toll</li>
    <li>PFS3E13 Guardian's Covenant</li>
    <li>PFS3E14 The Tomb between Worlds</li>
    <li>PFS3E15 Cavern of the Sundered Song</li>
</ul>
<p><b>Pathfinder Society Season 4</b></p>
<ul>
    <li>PFS4E01 Intro : Year of Boundless Wonder</li>
    <li>PFS4E02 Return to the Grave</li>
    <li>PFS4E03 Linnorm's Legacy</li>
    <li>PFS4E04 To Seek the Heart of Calamity</li>
    <li>PFS4E05 The Arclord Who Never Was</li>
    <li>PFS4E06 Signal from the Electric Laboratory</li>
    <li>PFS4E07 A Most Wondrous Exchange</li>
    <li>PFS4E08 Battle Star’s Fate</li>
</ul>

</section>