<section class="helyx-content">
<p>This module accepts only PDF files from PAIZO, and with their watermarks.
Anonymized PDFs will not be imported</p>
<hr>
<p><b>Supported PDFs</b></p>
<ul>
    <li>Shadows at Sundown</li>    
    <li>Pathfinder Society Season 3 : E12 Fury's Toll, E13 Guardian's Covenant</li>
</ul>
</section>